.progress-ring {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 8px solid #e2e8f0;
    /* Adjust the color as needed */
    border-top: 8px solid #3490dc;
    /* Adjust the color as needed */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}